<!-- Page Heading -->
<%# <h1 class="h3 mb-2 text-gray-800">Listagem de Admins</h1> %>
<%# <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
    For more information about DataTables, please visit the <a target="_blank"
        href="https://datatables.net">official DataTables documentation</a>.</p> %>
 <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Listando Assuntos/Áreas</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Listagem de Assuntos/Áreas</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Descrição</th>
                        <th>
                          <%= link_to admins_backoffice_subjects_path,  class:"btn btn-success btn-icon-split" do %>
                              <span class="icon text-white-50">
                                  <i class="fas fa-plus"></i>
                              </span>
                              <span class="text">Add Assunto/Área</span>
                          <% end %>
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Descrição</th>
                        <th>
                          <a href="#" class="btn btn-success btn-icon-split">
                              <span class="icon text-white-50">
                                  <i class="fas fa-plus"></i>
                              </span>
                              <span class="text">Add Assunto/Área</span>
                          </a>
                        </th>
                    </tr>
                </tfoot>
                <tbody>
                  <% @subjects.each do |subject| %>
                    <tr>
                        <td><%= subject.id %></td>
                        <td> <%= subject.description %> </td>
                        <td>
                          <%= link_to edit_admins_backoffice_subject_path(subject), class:"btn btn-primary btn-circle btn-sm" do %>
                            <i class="fas fa-fw fa-edit"></i>
                          <% end %>

                          <%= link_to admins_backoffice_subject_path(subject), class:"btn btn-info btn-circle btn-sm" do %>
                            <i class="fas fa-fw fa-eye"></i>
                          <% end %>

                          <%= link_to admins_backoffice_subject_path(subject), class:"btn btn-danger btn-circle btn-sm", method: :delete, data: { confirm: "Tem certeza que quer deletar?" } do %>
                            <i class="fas fa-fw fa-trash"></i>
                          <% end %>
                        </td>
                    </tr>
                  <% end %>
                   
                </tbody>
            </table>
        </div>
        <div class="justify-content-center align-items-center row">
          <%= paginate @subjects, theme: 'twitter-bootstrap-4' %>
        </div>
    </div>
</div>
