<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Time to Answer</title>

     <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'site', media: 'all' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <div class="container">
        <a class="navbar-brand" href="#">TimeToAnswer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav navbar-nav ml-auto">
            <% unless user_signed_in? %>
              <li class="nav-item">
                <%= link_to "Entrar", new_user_session_path, class:"nav-link"%>
              </li>
              <li class="nav-item">
                <%= link_to "Cadastrar-se", new_user_registration_path, class:"nav-link"%>
              </li>
            <% else %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= current_user.email %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"dropdown-item" %>

                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <main role="main" class="container">
      <%= yield %>
    </main>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
